/* Formulario de registro */
body, html {
  height: 100%;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.bg-image {
  background-image: url("https://i.pinimg.com/1200x/46/cb/e4/46cbe4490ec6e3376cc3e247981d1589.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Menu */
#navbarNav {
  font-size: 1.5rem;
}

#titulo {
  font-size: 2rem;
}