
#datos-contacto {
    background-color: $negro;
    color: $blanco;

 

    .facebook {
        background-image: url("images/social/facebook.png");
    }
    
    .linkedin {
        background-image: url("images/social/linkedin.png");
    }
    
    .google {
        background-image: url("images/social/google.png");
    }   
    
    .twitter {
        background-image: url("images/social/twitter.png");
    }
}